.header {
    height: 50px;
    border-bottom: 1px solid #e4eafc;
    display: flex;
    align-content: center;
    justify-content: center;
}

.title {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
