.container {

}

.containerOpen {
  //background-color: red;
}

.suggestionsContainer {
  height: 500px;
}

.suggestionsContainerOpen {
  height: 500px;
}

.suggestionHighlighted {
  background-color: red;
}


.itemContainer {
  display: flex;
}

.itemImg {
  width: 80px;
  & > img {
    max-width: 100%;
    display: block;
    height: auto;
  }
}
