.container {

}

.containerOpen {
  //background-color: red;
}

.suggestionsContainer {
  height: 500px;
}

.suggestionsContainerOpen {
  height: 500px;
}

.suggestionHighlighted {
  background-color: red;
}
